.operation {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #FF9500;
    color: white;
    font-size: 45px;
    font-weight: 700;
    border: 2px solid #D4D4D2;
}
.operation:first-child,
.operation:nth-child(2) {
    font-size: 30px;
}